body {
    background-color: yellow;
}

p {
    color: blue;
}

h1 {
    color: purple;
}

h2 {
    color:aqua;
}

ul {
    color: red;
}

.text {
    background-color:green;
}

#special {
    background-color:pink;
}