{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do :p</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hi, I'm Adi and I was born in July 2003. After growing up in Bosnia and Herzegovina I moved abroad to study computer science. Currently I am attending various courses on python, web-development and system administration along with my non-tech hobbies :)</p>
                        <p>Along with trying to progress my IT career, I love reading, learning languages, playing instruments, playing video games and board games.</p>
                        <p>I have probably too many project ideas and I'm tackling them one at a time, but if you want to collaborate on something interesting please feel free to contact me! I'm always down to try something new.</p>
                    </div>
                </div>
            </div>
        </main>
{% include "footer.html" %}